# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.envs/tp-micro-admin/.env
/.envs/tp-micro-notification/.env
/.envs/tp-micro-challenge/.env
/.envs/tp-micro-ranking/.env
/.envs/tp-micro-admin/.env.production
/.envs/tp-micro-notification/.env.production
/.envs/tp-micro-challenge/.env.production
/.envs/tp-micro-ranking/.env.production

/.docker/

.env.production
.env